.search-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  background-color: white;
  border: none;
  margin-bottom: 16px;
}

.header-title {
  font-size: 24px;
  margin-right: 20px;
  flex: 1; /* Allow title to take available space */
  text-align: left; /* Align title to the left */
}

.search-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}

.fa-magnifying-glass {
  padding: 10px;
  color: #999;
  background-color: white;
}

.search-input-header {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.button-group {
  display: flex;
  justify-content: space-around; /* Adjusts spacing between buttons */
}

.filter-button {
  margin: 0px 5px;
  padding: 10px 20px; /* Adjust padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
  background-color: rgb(175, 172, 172); /* Default background color */
  color: white; /* Text color */
}

.filter-button.active {
  background-color: green; /* Active button background color */
}

.filter-button:hover {
  background-color: rgb(84, 187, 84); /* Background color on hover */
}

/* Tablet and Smaller Laptops */
@media (max-width: 1148px) {
  .search-header-container {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
  }

  .header-title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
  }

  .search-input-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-input-header {
    font-size: 16px;
  }

  .button-group {
    flex-direction: row;
    margin-top: 20px;
  }

  .filter-button {
    margin: 0 2px;
    font-size: 14px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .search-header-container {
    padding: 10px;
    flex-direction: column;
    align-items: center; /* Center-align items for better layout */
  }

  .header-title {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }

  .search-input-container {
    max-width: 90%;
    width: 100%;
  }

  .button-group {
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }

  .filter-button {
    padding: 8px 15px;
    font-size: 12px;
  }
}

/* Extra Small Devices (Mobile, Small Phones) */
@media (max-width: 480px) {
  .search-header-container {
    padding: 8px;
  }

  .header-title {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }

  .search-input-container {
    max-width: 100%;
    width: 100%;
  }

  .button-group {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .filter-button {
    width: 100%;
    margin: 5px 0;
    font-size: 12px;
    padding: 8px 10px;
  }
}
